<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EMS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>EMSLogin.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.service.ServerListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>1440</session-timeout> <!-- Set session timeout to 1440 minutes -->
	</session-config>

	<servlet>
		<servlet-name>EMSLoginServlet</servlet-name>
		<servlet-class>com.controller.EMSLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EMSLoginServlet</servlet-name>
		<url-pattern>/EMSLoginServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>EMSLoginFilter</filter-name>
		<filter-class>com.Filter.EMSLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EMSLoginFilter</filter-name>
		<url-pattern>/EMSLoginServlet</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>ClientServlet</servlet-name>
		<servlet-class>com.controller.ClientServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClientServlet</servlet-name>
		<url-pattern>/ClientServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EMSItemServlet</servlet-name>
		<servlet-class>com.controller.EMSItemServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EMSItemServlet</servlet-name>
		<url-pattern>/EMSItemServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ProjectServlet</servlet-name>
		<servlet-class>com.controller.ProjectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/ProjectServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EMSQuotationPerItemServlet</servlet-name>
		<servlet-class>com.controller.EMSQuotationPerItemServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EMSQuotationPerItemServlet</servlet-name>
		<url-pattern>/EMSQuotationPerItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EMSDirectorsDashboardServlet</servlet-name>
		<servlet-class>com.controller.EMSDirectorsDashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EMSDirectorsDashboardServlet</servlet-name>
		<url-pattern>/EMSDirectorsDashboardServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EMSFinalQuotationServlet</servlet-name>
		<servlet-class>com.controller.EMSFinalQuotationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EMSFinalQuotationServlet</servlet-name>
		<url-pattern>/EMSFinalQuotationServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EMSPurchaseServlet</servlet-name>
		<servlet-class>com.controller.EMSPurchaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EMSPurchaseServlet</servlet-name>
		<url-pattern>/EMSPurchaseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EMSStoreServlet</servlet-name>
		<servlet-class>com.controller.EMSStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EMSStoreServlet</servlet-name>
		<url-pattern>/EMSStoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowManagementAccess</servlet-name>
		<servlet-class>com.controller.ShowManagementAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowManagementAccess</servlet-name>
		<url-pattern>/ShowManagementAccess</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccessManagementServlet</servlet-name>
		<servlet-class>com.controller.AccessManagementServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AccessManagementServlet</servlet-name>
		<url-pattern>/AccessManagementServlet</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>EMSProductionServlet</servlet-name>
		<servlet-class>com.controller.EMSProductionServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSProductionServlet</servlet-name>
		<url-pattern>/EMSProductionServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetGradeListServlet</servlet-name>
		<servlet-class>com.controller.GetGradeListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetGradeListServlet</servlet-name>
		<url-pattern>/GetGradeListServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EMSStoreListServlet</servlet-name>
		<servlet-class>com.controller.EMSStoreListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSStoreListServlet</servlet-name>
		<url-pattern>/EMSStoreListServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IndentServlet</servlet-name>
		<servlet-class>com.controller.IndentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IndentServlet</servlet-name>
		<url-pattern>/IndentServlet</url-pattern>
	</servlet-mapping>
		
	
	<servlet>
		<servlet-name>ListIndentServlet</servlet-name>
		<servlet-class>com.controller.ListIndentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListIndentServlet</servlet-name>
		<url-pattern>/ListIndentServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EMSGRNServlet</servlet-name>
		<servlet-class>com.controller.EMSGRNServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EMSGRNServlet</servlet-name>
		<url-pattern>/EMSGRNServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EMSClientListServlet</servlet-name>
		<servlet-class>com.controller.EMSClientListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EMSClientListServlet</servlet-name>
		<url-pattern>/EMSClientListServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EMSOffersServlet</servlet-name>
		<servlet-class>com.controller.EMSOffersServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSOffersServlet</servlet-name>
		<url-pattern>/EMSOffersServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuotationPerItemListServlet</servlet-name>
		<servlet-class>com.controller.QuotationPerItemListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>QuotationPerItemListServlet</servlet-name>
		<url-pattern>/QuotationPerItemListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSPurchaseListServlet</servlet-name>
		<servlet-class>com.controller.EMSPurchaseListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSPurchaseListServlet</servlet-name>
		<url-pattern>/EMSPurchaseListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSFinalQuotationListServlet</servlet-name>
		<servlet-class>com.controller.EMSFinalQuotationListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSFinalQuotationListServlet</servlet-name>
		<url-pattern>/EMSFinalQuotationListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSItemListServlet</servlet-name>
		<servlet-class>com.controller.EMSItemListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSItemListServlet</servlet-name>
		<url-pattern>/EMSItemListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSIssueNoteServlet</servlet-name>
		<servlet-class>com.controller.EMSIssueNoteServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSIssueNoteServlet</servlet-name>
		<url-pattern>/EMSIssueNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSIssueNoteListServlet</servlet-name>
		<servlet-class>com.controller.EMSIssueNoteListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSIssueNoteListServlet</servlet-name>
		<url-pattern>/EMSIssueNoteListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSDrawingServlet</servlet-name>
		<servlet-class>com.controller.EMSDrawingServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSDrawingServlet</servlet-name>
		<url-pattern>/EMSDrawingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSVendorsServlet</servlet-name>
		<servlet-class>com.controller.EMSVendorsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSVendorsServlet</servlet-name>
		<url-pattern>/EMSVendorsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EMSUsersSevlet</servlet-name>
		<servlet-class>com.controller.EMSUsersSevlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSUsersSevlet</servlet-name>
		<url-pattern>/EMSUsersSevlet</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>EMSUserFilter</filter-name>
		<filter-class>com.Filter.EMSUserFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>EMSUserFilter</filter-name>
		<url-pattern>/EMSUsersSevlet</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>EMSLogsServlet</servlet-name>
		<servlet-class>com.controller.EMSLogsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EMSLogsServlet</servlet-name>
		<url-pattern>/EMSLogsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeneralListServlet</servlet-name>
		<servlet-class>com.controller.GeneralListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GeneralListServlet</servlet-name>
		<url-pattern>/GeneralListServlet</url-pattern>
	</servlet-mapping>

</web-app>